<h1><%= user_recipes %></h1>

<% if @button == "recent" %>
  <p>Showing most popular.</p>
  <%= form_tag(recipes_path, method: :get) do %>
    <%= submit_tag ("Order by most recent") %>
  <% end %>
<% elsif @button == "popular" %>
  <p>Showing most recent.</p>
  <%= form_tag(recipes_path, method: :get) do %>
    <input type="hidden" name="order" value="popular">
    <%= submit_tag ("Order by most popular") %>
  <% end %>
<% end %>

<%= form_tag(recipes_path, method: :get) do %>
  <%= text_field_tag "search" %>
  <%= submit_tag "Search" %>
<% end %>

<%= render "recipes" %>
