<h1><%= @recipe.title %></h1>
<h4>By: <%= link_to @recipe.author.name, user_path(@recipe.author) %></h4>
<h3>Ingredients</h3>
<ul>
<% @ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
<% end %>
</ul>

<p><%= @recipe.instructions %></p>

<%= edit_if_author %>

<h3>Reviews for <%= @recipe.title %>:</h3>

<p><strong><%= pluralize(@recipe.total_likes, "like") %></strong></p>

<% @recipe.reviews.each do |review| %>
  <p>
  <% if review.comment %>
  <%= link_to review.user.name, user_path(review.user) %><br>
  <% end %>
  <%= review.comment %></p>
<% end %>

<% if logged_in? && current_user != @recipe.author %>
  <%= render "review" %>
<% elsif !logged_in? %>
  <h4>Log in or sign up to leave a review!</h4>
<% end %>