<h1><%= @user.name %></h1>

<button id="getRecipes" data-user-id="<%= @user.id %>"><%= @user.name %>'s recipes (<%= @user.authored_recipes.count %>)</button>

<div id="userRecipes"></div>

<p><%= link_to "#{@user.name}'s liked recipes", "/users/#{@user.id}/liked_recipes" %>

<% if @user == current_user %>
  <p><%= link_to "Post new recipe", new_user_recipe_path(@user, Recipe.new) %></p>
<% end %>