<!DOCTYPE html>
<html>
  <head>
    <title>HowToVeg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>How To Veg</h1>
      <p>Easy, delicious, vegetarian.</p>
    </header>
    <div class="nav">
      <%= link_to "Recipes", recipes_url, class: "nav-link" %>
      <% if session[:user_id] %>
        <%= link_to "Profile", user_url(current_user), class: "nav-link" %>
        <%= link_to "Log Out", logout_url, method: "post", class: "nav-link" %>
      <% else %>
        <%= link_to "Sign Up", new_user_url, class: "nav-link" %>
        <%= link_to "Log In", login_url, class: "nav-link" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
